.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.card,
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    min-width: 8rem;
    min-height: 6rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    perspective: 1000px;
}

.wrong {
    background-color: red;
}

.lower {
    background-color: orange;
}

.higher {
    background-color: pink;
}

.correct {
    background-color: green;
}