.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 100%;
    flex: 1 1 0;
    gap: calc(2vw)
}

.card,
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 6.5rem;
    min-width: 6.5rem;
    min-height: 6.5rem;
    border: 1.5px solid var(--gray);
    aspect-ratio: 1 / 1; /* ensures a square shape */
    border-radius: 5px;
    padding: 0.1rem;
    object-fit: contain;
    perspective: 1000px;
    flex: 1 1 0;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.8);
}

.card-text {
    max-width: 100%;
    text-align: center;
    font-size: clamp(1rem, 1.6rem, 2rem);  /* min, preferred, max */
    font-weight: bold;
    text-overflow: clip;
}

.image {
}

.wrong {
    background-color: var(--gray-transparent);
}

.lower {
    background-color: var(--yellow);
}

.higher {
    background-color: var(--orange);
}

.correct {
    background-color: var(--green);
}