.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--black);
    border-bottom: 0.1rem solid var(--gray);
    padding-bottom: 1rem;
}

.container > h1 {
    margin: 1rem 1rem 0;
}