certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
mwcleric==0.10.4
mwclient==0.11.0
mwparserfromhell==0.6.6
mwrogue==0.1.5
oauthlib==3.2.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
Unidecode==1.4.0
urllib3==2.4.0
